.banner-about-us{
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
.about-us-txt{
    width: 100%;
    display: flex;
    justify-content: center;
}
.about-us-txt h2{
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: .3em;
}
.about-us-txt span{
    font-family: 'Noto Sans', sans-serif;
}
.title-about-us{
    font-size: 1.3em;
    text-align: center;
    margin: 4% 0 2% 0;
    letter-spacing: .2em;
}
@media (max-width:767.9px){
    
}
@media (min-width:768px) and (max-width:995px){

}
@media (min-width:996px){

}