@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}
html, body{
    scroll-behavior: smooth;
}
body{
    font-family: 'Noto Serif TC', serif;
    letter-spacing: .07em;
    line-height: 150%;
    list-style: none;
    font-weight: normal;
}
.txt-text-shadow{
    text-shadow: 1px 0px 10px black;
}
@media (max-width:767.9px){/*手機*/
    .navbar-logo{
        width: 70px;
    }
    .navbar-logo img{
        width: 100%;
    }
    .navbar{
        width: 100%;
        height: auto;
        background-color: black;
        display: flex;
        font-size: 1.5em;
        align-items: center;
        z-index: 10;
    }
    .navbar a{
        text-decoration: none;
        color: white;
        font-family: 'Noto Serif TC', serif;
    }
    .navbar li{
        list-style: none;
        padding: 15px 0 15px 0;
        border: 1px solid black;
    }
    .navbar-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: orange;
        position: absolute;
        top: 100%;
        right: 2%;
        width: 0;
        overflow: hidden;
        text-align: center;
    }
    .navbar-menu-list li{
        width: 100%;
        display: none;
    }
    .navbar-menu-list a{
        width: 100%;
        font-size: .8em;
    }

    .navbar-icon::before{/*漢堡*/
        content: '';
        background-image: url('../images/nav_icon.png');
        width: 50px;
        height: 50px;
        position: absolute;
        top: 10px;
        right: 10px;
        background-repeat: no-repeat;
    }
    .bottom{
        width: 100%;
        background-color: black;
        display: flex;
        margin: auto;
        flex-direction: column;
    }
    .bottom-logo{
        width: 150px;
        text-decoration: none;
        display: flex;
        margin: auto;
        align-content: center;
    }
    .bottom-logo-img{
        width: 30px;
        margin: auto;
    }
    .bottom-logo-img img{
        width: 100%;
    }
    .bottom-logo-name h1{
        font-size: 1.2em;
        color: white;
        font-weight: normal;
        margin: 15% auto;
        letter-spacing: .5em;
    }
    .bottom-information{
        display: none;
    }
    .bottom-note{
        display: none;
    }
}

@media (min-width:768px) and (max-width:995px) {/*平板*/
    .navbar-logo{
        width: 70px;
    }   
    .navbar-logo img{
        width: 100%;
        height: auto;
    }
    .navbar a{
        text-decoration: none;
        color: white;
        font-family: 'Noto Serif TC', serif;
    }
    .navbar{
        width: 100%;
        height: auto;
        background-color: black;
        display: flex;
        font-size: .8em;
        align-items: center;
        position: fixed;
        z-index: 10;
    }
    .navbar a{
        text-decoration: none;
        color: white;
        font-family: 'Noto Serif TC', serif;
    }
    .navbar-icon{
        display: flex;
        margin-left: auto;
        padding-right: 1%;
    }
    .navbar-icon .navbar-list{
        display: flex;
        list-style: none;
        align-items: center;
        min-width: 500px;
        margin-left: auto;
    }
    .navbar-menu-list{
        display: none;
    }
    .navbar-icon .navbar-list > li{
        width: 100px;
        padding: 0 2%;
    }
    .navbar-icon .navbar-list > li:nth-child(6){
        width: 30px;
    }
    .navbar-icon .navbar-list > li:nth-child(7){
        width: 30px;
    }
    .bottom{
        width: 100%;
        background-color: black;
        display: flex;
        margin: auto;
        flex-direction: column;
    }
    .bottom-logo{
        width: 150px;
        text-decoration: none;
        display: flex;
        margin: auto;
    }
    .bottom-logo-img{
        width: 30px;
        margin: auto;
    }
    .bottom-logo-img img{
        width: 100%;
    }
    .bottom-logo-name h1{
        font-size: 1em;
        color: white;
        font-weight: normal;
        margin: 15% auto;
        letter-spacing: .3em;
    }
    .bottom-community{
        display: flex;
        margin: auto;
    }
    .bottom-community a{
        margin: 10%;
    }
    .bottom-information{
        font-size: .8em;
        color: white;
        font-family: 'Noto Serif TC', serif;
        margin:1% auto;
        letter-spacing: .2em;
    }
    .bottom-information span{
        font-family: 'Noto Sans', sans-serif;
    }
    .bottom-note{
        font-size: .8em;
        color: white;
        font-family: 'Noto Serif TC', serif;
        margin:1% auto;
        letter-spacing: .2em;
    }
    .bottom-note span{
        font-family: 'Noto Sans', sans-serif;
    }
}

@media (min-width:996px) {/*平板以上*/
    .navbar-logo{
        width: 70px;
    }   
    .navbar-logo img{
        width: 100%;
        height: auto;
    }
    .navbar a{
        text-decoration: none;
        color: white;
        font-family: 'Noto Serif TC', serif;
    }
    .navbar{
        width: 100%;
        height: auto;
        background-color: black;
        display: flex;
        font-size: 1.2em;
        align-items: center;
        z-index: 10;
    }
    .navbar a{
        text-decoration: none;
        color: white;
        font-family: 'Noto Serif TC', serif;
    }
    .navbar-icon{
        display: flex;
        margin-left: auto;
        padding-right: 5%;
    }
    .navbar-icon .navbar-list{
        display: flex;
        list-style: none;
        align-items: center;
        min-width: 700px;
        margin-left: auto;
    }
    .navbar-menu{
        position: relative;
    }
    .navbar-menu-list{
        content: '';
        position: absolute;
        list-style: none;
        top: 110%;
        left: 11%;
        display: none;
        background-color: white;
        border: 1px solid black;
    }
    .navbar-menu-list li{
        margin: 10% 5%;
        border-bottom: 1px dotted black;
    }
    .navbar-menu-list a{
        color: black;
    }
    .navbar-list a:hover{
        color: orange;
    }
    .navbar-menu:hover .navbar-menu-list{
        width: 80%;
        height: 300%;
        display: block;
    }
    .login-img a:hover{
        content: url('../images/navbar-pic-member-login-hover.png');
    }
    .cart-img a:hover{
        content: url('../images/navbar-pic-cart-hover.png');
    }
    .navbar-icon .navbar-list > li{
        width: 100px;
        padding: 0 2%;
    }
    .navbar-icon .navbar-list > li:nth-child(6){
        width: 30px;
    }
    .navbar-icon .navbar-list > li:nth-child(7){
        width: 30px;
    }
    .bottom{
        width: 100%;
        background-color: black;
        display: flex;
        margin: auto;
        flex-direction: column;
    }
    .bottom-logo{
        width: 150px;
        text-decoration: none;
        display: flex;
        margin: auto;
    }
    .bottom-logo-img{
        width: 30px;
        margin: auto;
    }
    .bottom-logo-img img{
        width: 100%;
    }
    .bottom-logo-name h1{
        font-size: 1.2em;
        color: white;
        font-weight: normal;
        margin: 15% auto;
        letter-spacing: .5em;
    }
    .bottom-information{
        font-size: 1em;
        color: white;
        font-family: 'Noto Serif TC', serif;
        margin:1% auto;
        letter-spacing: .3em;
    }
    .bottom-information span{
        font-family: 'Noto Sans', sans-serif;
    }
    .bottom-note{
        font-size: 1em;
        color: white;
        font-family: 'Noto Serif TC', serif;
        margin:1% auto;
        letter-spacing: .3em;
    }
    .bottom-note span{
        font-family: 'Noto Sans', sans-serif;
    }
}