.banner-solgan-wrapper{
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
}
.banner-solgan-wrapper img{
    display: flex;
    width: 100%;
    height: auto;
}
.banner-solgan-txt p{
    font-size: 40px;
    letter-spacing: 12px;
    color: white;
    font-family: 'Noto Serif TC',Serif;
    position: absolute;
    top: 50%;
    left: 10%;
}
.banner-soup-wrapper{
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
}
.banner-soup-wrapper img{
    position: relative;
    width: 100%;
    height: auto;
}
.banner-soup-txt{
    position: absolute;
    top: 50%;
    left: 10%;
}
.banner-soup-txt h3{
    font-size: 40px;
    letter-spacing: 12px;
    color: white;
    font-weight: normal;
    font-family: 'Noto Serif TC',Serif;
}
.banner-soup-txt p{
    font-size: 16px;
    letter-spacing: 2.4px;
    color: white;
    font-family: 'Noto Serif TC',Serif;
}

.section-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.section-menu > img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-menu h2{
    font-size: 40px;
    letter-spacing: 12px;
    color: white;
    font-family: 'Noto Serif TC',Serif;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 5%;
}
.menu-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.menu-card-wrapper{
    display: flex;
    gap: 20px;
}
.menu-card-wrapper a{
    text-decoration: none;
    color: inherit;
}
.menu-card-wrapper li{
    list-style-type: none;
}
.menu-card-wrapper img{
    width: 500px;
    height: 500px;
}
.menu-card-wrapper h3{
    display: inline-block;
    width: 100%;
    height: auto;
    font-size: 24px;
    font-weight: normal;
}
.ramen-card{
    position: relative;
    display: inline-block;
}
.outer-img{
    opacity: .92;
}
.menu-card-content-wrapper{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.menu-card-content-wrapper img{
    width: 100%;
    height: auto;
}
.menu-card-content-wrapper{
    font-size: 24px;
    letter-spacing: 3.6px;
    font-family: 'Noto Serif TC',Serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.ramen-card-img-box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.ramen-card-img-box:hover img{
    transition: .8s;
    transform: scale(1.1);
}
.ramen-card-img-box img{
    width: 100%;
}
.menu-link{
    display: flex;
    justify-content: center;
    width: 100%;
}
.menu-link a{
    text-decoration: none;
}
.menu-link div{
    font-size: 24px;
    letter-spacing: 3.6px;
    font-family: 'Noto Serif TC',Serif;
    text-align: center;
    background-color: black;
    color: white;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 5px 20px;
}
.menu-link a:hover div{
    color: black;
    background-color: orange;
}
@media (max-width: 1400px) {

    .menu-card-wrapper img{
        width: 300px;
        height: 400px;
    }
    .ramen-card-img-box{
        display: flex;
        justify-content: space-between;
    }
    .ramen-card-img-box img{
        width: 70%;
        height: auto;
        margin: auto;
    }
    .section-menu .menu-list{
        display: flex;
        position: absolute;
    }
    .section-menu img{
        height: auto;
    }
}

.section-news{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
}
.section-news img{
    position: relative;
    width: 100%;
    height: auto;
}
.section-news h2{
    font-size: 40px;
    letter-spacing: 12px;
    color: white;
    font-family: 'Noto Serif TC',Serif;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 5%;
}
.news-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.news-card-wrapper{
    display: flex;
    gap: 20px;
}

.news-card-wrapper a{
    text-decoration: none;
    color: inherit;
}
.news-card-wrapper li{
    list-style-type: none;
}
.news-card-wrapper img{
    width: 500px;
    height: 500px;
}
.news-card-wrapper p{
    display: inline-block;
    width: 100%;
    height: auto;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1.8px;
    font-family: 'Noto Serif TC',Serif;
    text-align: start;
    padding:  0 0 0 45px;
}
.news-card-wrapper h3{
    display: inline-block;
    max-width: 190px;
    height: auto;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2.4px;
    font-family: 'Noto Serif TC',Serif;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.news-card{
    position: relative;
    display: inline-block;
}
.outer-img{
    opacity: .92;
}
.news-card-content-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}
.news-card-content-wrapper img{
    width: 100%;
}
.news-card-content-wrapper{
    font-size: 24px;
    letter-spacing: 3.6px;
    font-family: 'Noto Serif TC',Serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.news-card-img-box{
    width: 100%;
}
.news-card-img-box img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.news-card-img-box:hover img{
    transition: .8s;
    transform: scale(1.05);
}
.news-link{
    display: flex;
    justify-content: center;
    width: 100%;
}
.news-link a{
    text-decoration: none;
}
.news-link div{
    font-size: 24px;
    letter-spacing: 3.6px;
    font-family: 'Noto Serif TC',Serif;
    text-align: center;
    background-color: black;
    color: white;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 5px 20px;
}
.news-link a:hover div{
    color: black;
    background-color: orange;
}
@media (max-width: 1400px) {

    .news-card-wrapper img{
        width: 300px;
        height: 400px;
    }
    .news-card-img-box{
        display: flex;
        justify-content: space-between;
    }
    .news-card-img-box img{
        width: 70%;
        height: auto;
        margin: auto;
    }
    .section-news .news-list{
        display: flex;
        position: absolute;
    }
    .section-news img{
        height: auto;
    }
}

.section-order-online{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
}
.section-recruit{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
}
.section-order-online::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(200, 200, 200, 0.3);
    display: none;
    transition: 1s;
    z-index: 1;
}
.section-recruit::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(200, 200, 200, 0.3);
    display: none;
    transition: 1s;
    z-index: 1;
}
.section-order-online:hover::before{
    display: block;
}
.section-recruit:hover::before{
    display: block;
}
.section-order-online img{
    height: auto;
}
.section-recruit img{
    height: auto;
}
.order-online-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    position: absolute;
    top: 35%;
}
.recruit-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    position: absolute;
    top: 35%;
}
.order-online-link div {
    font-size: 24px;
    letter-spacing: 3.6px;
    font-family: 'Noto Serif TC', Serif;
    text-align: center;
    background-color: black;
    color: white;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 5px 20px;
}
.recruit-link div {
    font-size: 24px;
    letter-spacing: 3.6px;
    font-family: 'Noto Serif TC', Serif;
    text-align: center;
    background-color: black;
    color: white;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 5px 20px;
}
.section-order-online h2{
    font-size: 40px;
    letter-spacing: 12px;
    color: white;
    font-family: 'Noto Serif TC',Serif;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 5%;
}
.section-recruit h2{
    font-size: 40px;
    letter-spacing: 12px;
    color: white;
    font-family: 'Noto Serif TC',Serif;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 5%;
}
.order-online-link{
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
}
.recruit-link{
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
}
.order-online-link a{
    text-decoration: none;
} 
.recruit-link a{
    text-decoration: none;
}
.order-online-link a:hover div{
    color: black;
    background-color: orange;
    z-index: 2;
}
.recruit-link a:hover div{
    color: black;
    background-color: orange;
    z-index: 2;
}
