*{
    font-weight: normal;
}
html,body{
    scroll-behavior: smooth;
}
.dot-box{
    position: absolute;
    right: 0;
    top: 30%;
    position: fixed;
    z-index: 6;
}
.dot-border{
    width: 30px;
    height: 30px;
    background-color: white 0%;
    border: 1px solid #D09600;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 20px 0;
}
.dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #D09600;
}
.owl-carousel{
    width: 100%;
    height: 95vh;
    min-height: 600px;
}
.slide {
    width: 100%;
    height: 95vh;
    min-height: 600px;
    background-size: cover;
    background-position: bottom;
}
.section-menu{
    width: 100%;
    height: auto;
    min-height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.menu-list{
    width: 100%;
}
.menu-list h2{
    font-size: 2em;
    text-align: center;
    letter-spacing: .1em;
    line-height: 150%;
    font-family: 'Noto Serif TC', serif;
    color: white;
    padding: 80px 0 80px 0;
}
.menu-card-wrapper{
    display: flex;
    list-style: none;
    gap:5%;
    justify-content: center;
}
.ramen-card{
    width: 250px;
    min-height: 300px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.ramen-card-img-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.ramen-card-img-box img{
    width: 80%;
}
.menu-card-content-wrapper{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
.menu-card-content-wrapper > h3, .menu-card-content-wrapper > p{
    padding: 5% 0;
}
.menu-card-wrapper a{
    text-decoration: none;
    font-size: .9em;
    color: black;
}
.menu-card-wrapper a:hover .ramen-card-img-box img{
    transition: .7s;
    scale: 1.1;
}

.menu-link{
    width: 120px;
    height: 50px;
    display: flex;
    margin: 3% auto;
    background-color: black;
}
.menu-link:hover {
    background-color: orange;
}
.menu-link div{
    margin: auto;
}
.menu-link a{
    width: 100%;
    display: flex;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    letter-spacing: .1em;
    line-height: 150%;
    font-family: 'Noto Serif TC', serif;
    color: white;
}

.section-order-online{
    padding: 15px;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section-order-online::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(217, 217, 217, 0.2);
    display: none;
}
.section-order-online:hover::before{
    display: block;
}
.order-online-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.order-online-wrapper h2{
    font-size: 2em;
    text-align: center;
    letter-spacing: .1em;
    line-height: 150%;
    font-family: 'Noto Serif TC', serif;
    color: white;
    padding: 2% 0 3% 0;
    z-index: 2;
}
.order-online-link{
    width: 120px;
    height: 50px;
    display: flex;
    margin: auto;
    background-color: black;
    z-index: 2;
}
.order-online-link:hover {
    background-color: orange;
}
.order-online-link div{
    margin: auto;
}
.order-online-link a{
    width: 100%;
    display: flex;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    letter-spacing: .1em;
    line-height: 150%;
    font-family: 'Noto Serif TC', serif;
    color: white;
}
.news-card-wrapper{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.news-card-wrapper li{
    width: 46%;
    list-style: none;
    margin: 0 2% 2% 2%;
    border-bottom: 1px solid lightyellow;
}
.news-card-wrapper li:hover{
    background-color: orange;
    transition: 1s;
}
.news-card-wrapper a{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: .1em;
    line-height: 150%;
    color: white;
    margin: 2% auto;
    text-align: center;
}
.news-card-content-wrapper h3{
    padding: 3% 0;    
}
.news-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-list h2{
    font-size: 2em;
    text-align: center;
    letter-spacing: .1em;
    line-height: 150%;
    font-family: 'Noto Serif TC', serif;
    padding: 2% 0 3% 0;
    color: white;
}
.section-order-online{
    padding: 15px;
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.news-link{
    width: 120px;
    height: 50px;
    display: flex;
    margin: auto;
    background-color: black;
    z-index: 2;
    margin-top: 2%;
}
.news-link:hover {
    background-color: orange;
}
.news-link div{
    margin: auto;
}
.news-link a{
    width: 100%;
    display: flex;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    letter-spacing: .1em;
    line-height: 150%;
    font-family: 'Noto Serif TC', serif;
    color: white;
    letter-spacing: .3em;
}
.section-news{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
    padding: 80px 0 60px 0;
}
@media screen and (max-width:767.9px){
    .slide p{
        height: 100%;
        font-size: 1.8em;
        color: white;
        font-family: 'Noto Serif TC', serif;
        display: flex;
        align-items: center;
        padding-left: 10%;
        letter-spacing: .2em;
        line-height: 150%;
    }
    .section-menu{
        background-size: cover;
        background-position: bottom;
        padding-bottom: 15px;
    }
    .menu-card-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .ramen-card{
        margin: 20px 0;
    }
    .menu-link{
        margin: 0 auto;
    }
    .section-order-online{
        background-size: cover;
        background-position: bottom;
    }
    .news-card-wrapper a{
        font-size: .5em;
    }
}
@media (min-width:768px) and (max-width:995px){
    .slide p{
        height: 100%;
        font-size: 3.5em;
        color: white;
        font-family: 'Noto Serif TC', serif;
        display: flex;
        align-items: center;
        padding-left: 10%;
        letter-spacing: .1em;
        line-height: 150%;
    }
    .ramen-card{
        width: 200px;
    }
}

@media (min-width:996px){
    .slide p{
        height: 100%;
        font-size: 3.5em;
        color: white;
        font-family: 'Noto Serif TC', serif;
        display: flex;
        align-items: center;
        padding-left: 10%;
        letter-spacing: .1em;
        line-height: 150%;
    }

}
