.banner-menu-page{
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
.menu-page-txt{
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu-page-txt h2{
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: .3em;
}
.menu-page-txt span{
    font-family: 'Noto Sans', sans-serif;
}
.title-menu-page{
    font-size: 1.3em;
    text-align: center;
    margin: 4% 0 2% 0;
    letter-spacing: .2em;
}
.area-ramen{
    margin: 10% 0;
}
.ramen-img-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 8%;
}
.large-img-box{
    width: 50%;
}
.large-img-box img{
    border-radius: 50%;
    width: 100%;
}
.ramen-introduce{
    margin-left: -5%;
}
.ramen-introduce h3{
    font-size: 2em;
    color: #CF000D;
    border-bottom: 2px solid #CF000D;
    padding-bottom: 3%;
    text-align: center;
}
.ramen-introduce p{
    padding: 3% 5% 0 5%;
}
.small-img-box{
    width: 50%;
    display: flex;
    justify-content: center;
}
.small-img-box img{
    width: 16%;
}
.ramen-introduce{
    width: 50%;
}
.special-ramen{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.special-ramen-title{
    width: 100%;
    background-color: #CF000D;
    margin: 0 auto 8% auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.special-ramen h3{
    color: white;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: .2em;
}
.special-ramen-card{
    width: 48%;
    margin: 0 1%;
}
.special-ramen-card img{
    width: 100%;
}
.special-ramen-card p{
    text-align: center;
    font-size: 1.2em;
}
.menu-link{
    width: 70%;
    margin: 5% auto 5% auto;
    text-align: center;
}
.menu-link a{
    width: 20%;
    height: 30px;
    margin: auto 6.3%;
    background-color: #CF000D;
    display: inline-block;
    font-size: 1em;
    text-decoration: none;
    color: white;
    border:1px solid #CF000D;
}
.menu-link a:hover{
    background-color: white;
    color: #CF000D;
    transition: .5s;
}
.menu-ingredients{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.wrapper-menu-ingredients{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3% 0;
    background-color: lightgray;
    position: relative;
}
.wrapper-menu-ingredients::after{
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 40px;
    border-style: solid;
    border-color: transparent transparent lightgray transparent; 
}
.title-menu-ingredients{
    text-align: center;
}
.title-menu-ingredients h3{
    font-size: 1.5em;
    margin: 5% 0;
}
.ingredients-list{
    display: flex;
    flex-wrap: wrap;
}
.ingredients-list a{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    margin: 3% 0;
}
.ingredients-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 0;
}
.ingredients-card h3{
    font-size: 1em;
}
.ingredients-card p{
    font-size: .8em;
}
.ingredients-card img{
    width: 60%;
}
@media (max-width:767.9px){
    .special-ramen h3{
        font-size: 1em;
    }
    .special-ramen p{
        font-size: .7em;
    }
    .ramen-introduce h3{
        font-size: 1.5em;
        padding-top: 5%;
    }
    .ramen-introduce p{
        padding-top: 5%;
    }
    .menu-link a{
        font-size: .7em;
        margin: auto 5%;
    }
    .ingredients-card h3{
        font-size: .8em;
    }
    .ingredients-card p{
        font-size: .6em;
    }
}
@media (min-width:768px) and (max-width:995px){
    .special-ramen h3{
        font-size: 1.2em;
    }
    .special-ramen p{
        font-size: .7em;
    }
    .ramen-introduce h3{
        font-size: 1.5em;
        padding-top: 5%;
    }
    .ramen-introduce p{
        padding-top: 5%;
    }
    .menu-link a{
        font-size: .9em;
        margin: auto 5%;
    }
    .ingredients-card h3{
        font-size: .8em;
    }
    .ingredients-card p{
        font-size: .6em;
    }
}