.banner-menu-page{
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
.menu-page-txt{
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu-page-txt h2{
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: .3em;
}
.menu-page-txt span{
    font-family: 'Noto Sans', sans-serif;
}
.title-menu-inside-page h3{
    font-size: 1.3em;
    text-align: center;
    margin: 4% 0 2% 0;
    letter-spacing: .2em;
}
.menu-inside-page-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.menu-inside-page-pic{
    width: 100%;
    margin: 3% 0;
}
.menu-inside-page-pic img{
    width: 100%;
}
.menu-inside-page-content p{
    margin: 3% 0;
    padding: 0 2%;
}
.menu-inside-page-content span{
    margin: 3% 0;
    text-align: right;
    padding: 0 2%;
}
@media (max-width:767.9px){
    .title-menu-inside-page h3{
        font-size: 1.2em;
    }
}