.banner-menu-page{
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
.menu-page-txt{
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu-page-txt h2{
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: .3em;
}
.menu-page-txt span{
    font-family: 'Noto Sans', sans-serif;
}
.title-menu-page{
    font-size: 1.3em;
    text-align: center;
    margin: 4% 0 2% 0;
    letter-spacing: .2em;
}
.area-ramen{
    margin-top: 5%;
}
.ramen-img-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.large-img-box{
    width: 50%;
}
.large-img-box img{
    border-radius: 50%;
    width: 100%;
}
.ramen-introduce{
    margin-left: -5%;
}
.ramen-introduce h3{
    font-size: 2em;
    color: #CF000D;
    border-bottom: 2px solid #CF000D;
    padding-bottom: 3%;
    text-align: center;
}
.ramen-introduce p{
    padding: 3% 5% 0 5%;
}
.small-img-box{
    width: 50%;
    display: flex;
    justify-content: center;
}
.small-img-box img{
    width: 16%;
}
.ramen-introduce{
    width: 50%;
}