.section-menu-inside-page{
    margin-top: 67px;
}
.banner-menu-inside-page{
    width: 100%;
    height: auto;
    margin-top: 116px;
    position: relative;
}
.banner-menu-inside-page img{
    width: 100%;
}
.menu-inside-page-txt{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0%;
    margin: auto;
    font-size: 60px;
    letter-spacing: 18px;
    font-family: 'Noto Serif',Serif;
    color: white;
}
.title-menu-inside-page{
    margin: 67px 0px;
}
.title-menu-inside-page h2{
    width: 100%;
    text-align: center;
    font-family: 'Noto Serif TC', serif;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 12px;
    margin: 67px 0px;
}

.menu-inside-page-pic{
    width: 750px;
}
.menu-inside-page-pic img{
    width: 100%;
}
.menu-inside-page-content p{
    width: 750px;
    text-align: center;
    font-family: 'Noto Serif TC', serif;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 2.4px;
    margin: 67px 0px;
    padding: 0px 10px;
}
.menu-inside-page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.background-cloud:nth-child(1) {
    margin-top: 40px;
}
.background-cloud:nth-child(2) {
    margin-top: -60px;
}
span{
    width: 750px;
    text-align: right;
    font-family: 'Noto Serif TC', serif;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 12px;
    padding: 0px 10px;
}