.banner-order{
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
.order-txt{
    width: 100%;
    display: flex;
    justify-content: center;
}
.order-txt h2{
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: .3em;
}
.order-txt span{
    font-family: 'Noto Sans', sans-serif;
}
.title-order{
    font-size: 1.3em;
    text-align: center;
    margin: 4% 0 2% 0;
    letter-spacing: .2em;
}
.port-box-recommend{
    width: 100%;
    margin: 7% auto;
    display: flex;
}
.port-box-recommend img{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    margin: 0 3%;
}
.product-recommend{
    flex-grow: 1;
}
.product-recommend-box{
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0;
}
.product-recommend > h4{
    text-align: center;
    font-size: 2em;
    letter-spacing: .2em;
    color: #CF000D;
    border-bottom: 3px solid #CF000D;
    padding: 2% 0;
}
.product-lucky-bag{
    width: 40%;
    background-color: rgb(147, 48, 253);
    margin-top: 5%;
}
.product-lucky-bag span{
    font-size: 1.2em;
    margin:3% 0 3% 3%;
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}
.product-lucky-bag > p{
    margin:3% 0 3% 3%;
    background-color: orange;
    color: white;
    width: 60px;
    text-align: center;
    font-size: .5em;
}
.lucky-bag-img-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.lucky-bag-img-box img{
    width: 50%;
    height: auto;
    margin: auto;
}
.price-cart{
    display: flex;
    flex-direction: column;
    margin:3% 0 3% 0;
}
.price-cart button{
    width: 20px;
}
.price-cart input{
    width: 60px;
    text-align: center;
}
.price-cart p{
    margin:0 0 3% 3%;
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}
.count-box{
    margin:0 auto 3% auto;
}
.product-T-shirt{
    width: 40%;
    background-color: rgb(147, 48, 253);
    margin-top: 5%;
}
.product-T-shirt span{
    font-size: 1.2em;
    margin:3% 0 3% 3%;
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}
.product-T-shirt > p{
    margin:3% 0 3% 3%;
    background-color: #CF000D;
    color: white;
    width: 80px;
    text-align: center;
    font-size: .5em;
}
.T-shirt-img-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.T-shirt-img-box img{
    width: 50%;
    height: auto;
    margin: auto;
}


.port-box-necessary{
    width: 100%;
    margin: 7% auto;
    display: flex;
}
.port-box-necessary img{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    margin: 0 3%;
}
.product-necessary{
    flex-grow: 1;
}
.product-necessary-box{
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0;
}
.product-necessary > h4{
    text-align: center;
    font-size: 2em;
    letter-spacing: .2em;
    color: #CF000D;
    border-bottom: 3px solid #CF000D;
    padding: 2% 0;
}
.product-iced-soup{
    width: 40%;
    background-color: rgb(147, 48, 253);
    margin-top: 5%;
}
.product-iced-soup span{
    font-size: 1.2em;
    margin:3% 0 3% 3%;
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}
.product-iced-soup > p{
    margin:3% 0 3% 3%;
    background-color: orange;
    color: white;
    width: 60px;
    text-align: center;
    font-size: .5em;
}
.iced-soup-img-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.iced-soup-img-box img{
    width: 50%;
    height: auto;
    margin: auto;
}

.product-miso{
    width: 40%;
    background-color: rgb(147, 48, 253);
    margin-top: 5%;
}
.product-miso span{
    font-size: 1.2em;
    margin:3% 0 3% 3%;
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}
.product-miso > p{
    margin:3% 0 3% 3%;
    background-color: #CF000D;
    color: white;
    width: 80px;
    text-align: center;
    font-size: .5em;
}
.miso-img-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.miso-img-box img{
    width: 50%;
    height: auto;
    margin: auto;
}

@media (max-width:767.9px){
    .product-recommend h4, .product-necessary h4{
        font-size: 1.5em;
    }
    .product-lucky-bag span, .product-T-shirt span, .product-iced-soup span, .product-miso span{
        font-size: .7em;
    }
    .product-lucky-bag p, .product-T-shirt p, .product-iced-soup p, .product-miso p{
        font-size: .7em;
    }
}