.banner-recruit{
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
.recruit-txt{
    width: 100%;
    display: flex;
    justify-content: center;
}
.recruit-txt h2{
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: .3em;
}
.recruit-txt span{
    font-family: 'Noto Sans', sans-serif;
}
.title-recruit{
    font-size: 1.3em;
    text-align: center;
    margin: 4% 0 2% 0;
    letter-spacing: .2em;
}
.section-recruit{
    margin: auto;
}
.recruit-page-content{
    width: 70%;
    margin: auto;
}
.recruit-page-pic img{
    width: 100%;
    margin: 3% 0;
}
.section-benefits h4{
    font-size: 1.5em;
    text-align: center;
    background-color: #CF000D;
    width: 200px;
    height: 30px;
    color: white;
    margin: auto;
}
.benefits-list{
    font-size: 1em;
    display: flex;
    justify-content: center;
    margin: 2% auto;
    letter-spacing: .2em;
}
.benefits-list ul{
    display: flex;
    flex-wrap: wrap;
}
.benefits-list li{
    list-style: none;
    width: 50%;
}
.benefits-list p{
    margin: 5%;
    text-align: center;
}
.section-vacancies li{
    list-style: none;
}
.section-vacancies h4{
    font-size: 1.5em;
    text-align: center;
    background-color: #CF000D;
    width: 200px;
    height: 30px;
    color: white;
    margin: auto;
}
.vacancies-list{
    display: flex;
    justify-content: center;
}
.vacancies-manager{
    width: 40%;
    border: 2px solid black;
    margin: 5% 10%;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.vacancies-manager img{
    width: 100%;
}
.vacancies-manager img:hover{
    scale: 1.05;
    transition: .5s;
}
.vacancies-manager p{
    font-size: 1.2em;
    padding: 2% 0 2% 1%;
}
.vacancies-manager li{
    padding:2% 0 2% 3%;
}
.vacancies-pre-manager{
    width: 40%;
    border: 2px solid black;
    margin: 5% 10%;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.vacancies-pre-manager img{
    width: 100%;
}
.vacancies-pre-manager img:hover{
    scale: 1.05;
    transition: .5s;
}
.vacancies-pre-manager p{
    font-size: 1.2em;
    padding: 2% 0 2% 1%;
}
.vacancies-pre-manager li{
    padding:2% 0 2% 3%;
}
@media (max-width:767.9px){
    .benefits-list p{
        font-size: .7em;
    }
    .vacancies-manager{
        width: 100%;
    }
    .vacancies-pre-manager{
        width: 100%;
    }
    .vacancies-list{
        display: flex;
        flex-wrap: wrap;
    }
    .vacancies-manager li{
        font-size: .7em;
    }
    .vacancies-pre-manager li{
        font-size: .7em;
    }
}
@media (min-width:768px) and (max-width:995px){

}