.banner-solgan-wrapper{
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
}
.banner-solgan-wrapper img{
    display: flex;
    width: 100%;
    height: auto;
}
.banner-solgan-txt p{
    font-size: 40px;
    letter-spacing: 12px;
    color: white;
    font-family: 'Noto Serif TC',Noto Serof TC;
    position: absolute;
    top: 50%;
    left: 10%;
}
.banner-soup-wrapper{
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
}
.banner-soup-wrapper img{
    position: relative;
    width: 100%;
    height: auto;
}
.banner-soup-txt{
    position: absolute;
    top: 40%;
    left: 10%;
}
.banner-soup-txt h3{
    font-size: 40px;
    letter-spacing: 12px;
    color: white;
    font-weight: normal;
    font-family: 'Noto Serif TC',Noto Serof TC;
    
}
.banner-soup-txt p{
    font-size: 16px;
    letter-spacing: 2.4px;
    color: white;
    font-family: 'Noto Serif TC',Noto Serof TC;
}

.section-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
}
.section-menu img{
    position: relative;
    width: 100%;
    height: auto;
}
.section-menu h2{
    font-size: 40px;
    letter-spacing: 12px;
    color: white;
    font-family: 'Noto Serif TC',Noto Serof TC;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 5%;
}
.menu-list{
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.menu-card-wrapper{
    margin-top: -80px;
    display: flex;
    gap: 20px;
}
.menu-card-wrapper a{
    text-decoration: none;
    color: inherit;
}
.menu-card-wrapper li{
    list-style-type: none;
}
.menu-card-wrapper img{
    width: 500px;
    height: 500px;
}
.ramen-card{
    position: relative;
    display: inline-block;
}
.outer-img{
    opacity: .92;
}
.menu-card-content-wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.menu-card-content-wrapper img{
    width: 100%;
    height: auto;
}
.menu-card-content-wrapper{
    font-size: 24px;
    letter-spacing: 3.6px;
    font-family: 'Noto Serif TC',Noto Serof TC;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.ramen-card-img-box{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
}
.ramen-card-img-box:hover img{
    transition: .8s;
    transform: scale(1.1);
}
.ramen-card-img-box img{
    width: 100%;
}
.menu-link{
    display: flex;
    justify-content: center;
    width: 100%;
}
.menu-link a{
    text-decoration: none;
}
.menu-link div{
    font-size: 24px;
    letter-spacing: 3.6px;
    font-family: 'Noto Serif TC',Noto Serof TC;
    text-align: center;
    background-color: black;
    color: white;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 5px 20px;
}
.menu-link a:hover div{
    color: black;
    background-color: orange;
}